@model IEnumerable<BillingDownloadSerializer>
@{
    ViewData["Title"] = "Billing By Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    <div class="container-fluid animatedParent animateOnce">
        <div class="tab-content my-3" id="v-pills-tabContent">
            <div class="card no-b shadow mb-3">

                <div class="card-body">
                    <div class="row my-3 ">
                        <div class="col-md-12">
                            <h1>Bill Customers By Zone</h1>
                            <h6>Use this page to bill customers by zone</h6>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card r-0 shadow">

                <div class="card-body b-b">

                    <div class="input-group mb-3 mr-sm-2">
                        <div class="form-group  m-0">
                            <select name="Zones" id="Zones" onchange="getMeters()" class="form-control">
                                Select Zone
                                <option value="">Select Zone</option>
                            </select>
                        </div>

                    </div>
                    <input type="text" name="wspID" id="wspID" class="form-control mt-3" style="display:none" value="@ViewBag.Id">
                </div>

            </div>

            <div class="tab-pane animated fadeInUpShort" id="v-pills-buyers" role="tabpanel" aria-labelledby="v-pills-buyers-tab">
            </div>

            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card  shadow">
                        <div class="panel-heading text-center">
                            <div class="panel-body panelsetup">
                                <h4>LIST OF RETURNED Customers</h4>
                                <hr />
                            </div>
                        </div>
                        <div class="table-responsive datatablestyle">
                            <table id="tryy" class="table table-striped table-bordered dataTables-example" style="width:100%">
                                <thead>
                                    <tr class="no-b">
                                        <th>
                                            <div class="d-none d-lg-block">Date Created</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Account Number</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Customer Name</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Invoice Number</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Consumption (M<sup>3</sup>)</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Bill Amount (KSH)</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Payment Status</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.DateCreated
                                            </div>
                                        </td>

                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.AccountNumber
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.CustomerName
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.InvoiceNumber
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.Consumption
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.Amount
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.PaymentStatus
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="container-fluid animatedParent animateOnce">
        <div class="tab-content my-3" id="v-pills-tabContent">
            <div class="card no-b shadow  ">

                <div class="card-body">
                    <div class="row my-3 ">
                        <div class="col-md-12">
                            <h1>Bill Customers by Zone</h1>
                            <h6>Use this page to bill customers by zone</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card r-0 shadow">

            <div class="card-body b-b">

                <div class="input-group mb-0 mr-sm-2">
                    <div class="form-group  m-0">
                        <select name="Zones" id="Zones" onchange="getMeters()" class="form-control">
                            Select Zone
                            <option value="">Select Zone</option>
                        </select>
                    </div>

                </div>
                <input type="text" name="wspID" id="wspID" class="form-control" style="display:none" value="@ViewBag.Id">
            </div>

        </div>
        <div>


        </div>

    </div>
}
<script src="~/assets/js/jquery.min.js"></script>
<script type="text/JavaScript">
     $(document).ready(function () {
         getZones();
     });
    function getZones() {
    //get a reference to the select element
        $zones = $('#Zones');
     var baseUrl = "https://TAPPT2dev.azurewebsites.net/api/";
    //request the JSON data and parse into the select element
    $.ajax({
        type: 'GET',
        url: baseUrl.concat(`wsp/Zones/@ViewBag.Id`),
        dataType: 'JSON',
        success: function (data) {
            //clear the current content of the select
            //$zones.html('');
            //iterate over the data and append a select option
            $.each(data, function (index, val) {
                $zones.append(`<option id=${val.id}  value='${val.id}'+ >${val.name}</option>`);
            })
        },
        error: function () {
            //if there is an error append a 'none available' option
            $zones.html('<option id="-1">none available</option>');
        }
    });
}
</script>
<script type="text/JavaScript">
    function getMeters() {
        var wspId = $('#Zones').val();

        window.history.replaceState({}, document.title, "/" + "WSP/BillingByZone");
        window.location.href = window.location.href + "/" + wspId;
    }
</script>




