@model IEnumerable<MeterDownloadSerializer>
@{
    ViewData["Title"] = "Today";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid animatedParent animateOnce">
    <div class="tab-content my-3" id="v-pills-tabContent">
        <div class="card no-b r-0 shadow ">

            <div class="card-body mt-2">
                <div class="row my-3 ">
                    <div class="col-md-12">
                        <h4>Meters Transmitted (Current 24 Hours From 12 AM Midnight EAT)</h4>

                    </div>

                </div>
            </div>
        </div>



        <div class="row my-3">
            <div class="col-md-12">
                <div class="card-body white r-0 shadow mb-5">
                    <div class="panel-body text-center panelsetup">
                        <h4>List Of Returned Meters</h4>
                        <hr />
                    </div>
                    <div class="table-responsive datatablestyle">
                        <table id="tryy" class="table table-striped table-bordered display nowrap" style="width:100%">
                            <thead>
                                <tr class="no-b">
                                    <th>
                                        <div class="d-none d-lg-block">
                                            Time and Date Transmitted
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-none d-lg-block">Meter Code</div>
                                    </th>
                                    <th>
                                        <div class="d-none d-lg-block">Customer Name</div>
                                    </th>
                                    <th>
                                        <div class="d-none d-lg-block">Account Number</div>
                                    </th>
                                    <th>
                                        <div class="d-none d-lg-block">Accumulated Consumption (m<sup>3</sup>)</div>
                                    </th>
                                    <th>
                                        <div class="d-none d-lg-block">Today's Consumption (m<sup>3</sup>)</div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.LastDate
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.MeterCode
                                            </div>
                                        </td>

                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.Owner
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block">
                                                @item.AccountNumber
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-none d-lg-block text-right">
                                                @item.AccumulatedFlowRate
                                            </div>
                                        </td>

                                        <td>
                                            <div class="d-none d-lg-block text-right">
                                                @item.TodaysFlow
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr class="no-b">
                                        <th>
                                            <div class="d-none d-lg-block">Meter Code</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Geo Cordinates</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Last Transmitted</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">Accumulated Flow</div>
                                        </th>
                                        <th>
                                            <div class="d-none d-lg-block">View Details</div>
                                        </th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

