@model IEnumerable<UtlitiesDownloadSerializer>
@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid animatedParent animateOnce">
    <div class="tab-content my-3" id="v-pills-tabContent">

        <div class="card-body white r-0 no-b shadow ">

            <div class="card-body">
                <div class="row my-3 ">
                    <div class="col-md-12">
                        <h1>Water Utilities</h1>
                        <h6>The table below displays the current water utilities</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
        <div class="tab-pane animated fadeInUpShort show active"
             id="v-pills-all"
             role="tabpanel"
             aria-labelledby="v-pills-all-tab">
            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card-body white r-0 shadow">
                        <div class="panel-heading text-center">
                            <div class="panel-body panelsetup mb-3 ">
                                <h2>Water Utilities </h2>
                                <hr />
                            </div>
                        </div>
                        <div class="table-responsive">
                            <form>

                                <table id="tryy" class="table table-striped table-bordered dataTables-example" style="width:100%">

                                    <thead>
                                        <tr class="no-b">

                                            <th>
                                                <div class="d-none d-lg-block">Name</div>
                                            </th>

                                            <th>
                                                <div class="d-none d-lg-block">Address</div>
                                            </th>
                                            <th>
                                                <div class="d-none d-lg-block">Phone Number</div>
                                            </th>
                                            <th>
                                                <div class="d-none d-lg-block">Meters</div>
                                            </th>
                                            <th>
                                                <div class="d-none d-lg-block">Bouquet</div>
                                            </th>
                                            <th>
                                                <div class="d-none d-lg-block">Bill (Kshs)</div>
                                            </th>

                                            @*<th><div class="d-none d-lg-block">Add admin</div></th>
                                                <th><div class="d-none d-lg-block">View utility</div></th>
                                                <th><div class="d-none d-lg-block">Delete utility</div></th>*@

                                        </tr>
                                    </thead>

                                    <tbody>


                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex">

                                                        <div>
                                                            <div>
                                                                <strong>@item.Name</strong>
                                                            </div>
                                                            @*<small>@item.Name</small>*@
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-none d-lg-block">@item.PostalAddress</div>
                                                </td>

                                                <td>
                                                    <div class="d-none d-lg-block">@item.Email</div>
                                                </td>
                                                <td>
                                                    <div class="d-none d-lg-block">@item.CountMeters</div>

                                                </td>
                                                <td>
                                                    <div class="d-none d-lg-block">@item.Bouquete</div>
                                                </td>
                                                <td>
                                                    <div class="d-none d-lg-block">@item.Bill</div>

                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane animated fadeInUpShort"
             id="v-pills-buyers"
             role="tabpanel"
             aria-labelledby="v-pills-buyers-tab">
        </div>
    }
    else
    {
        <div class="tab-pane animated fadeInUpShort show active"
             id="v-pills-all"
             role="tabpanel"
             aria-labelledby="v-pills-all-tab">
            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card r-0 shadow">
                        <div style="text-align:center;color:darkblue">
                            <P>Nothing here yet</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane animated fadeInUpShort"
             id="v-pills-buyers"
             role="tabpanel"
             aria-labelledby="v-pills-buyers-tab">
        </div>
    }

</div>



